@using Microsoft.AspNetCore.Hosting
@{
    ViewData["Title"] = "Restore Password Page";
}
@inject IWebHostEnvironment HostingEnvironment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привет</title>
    <link rel="stylesheet" href="@Url.Content("~/css/forgot_pw_styles.css") asp-append-version="true">
</head>
<body>
    <div class="container">
        <h1>Здесь будет реализация восстановления забытого пароля</h1>
        <button onclick="goBack()">Назад</button>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>

