.table th {
    font-weight: bold;
    text-align: center;
    padding: 12px;
}

.input-container {
    display: flex;
}

    .input-container input[type="text"] {
        height: 35px;
        flex: 1;
        display: inline-block;
        width: 120px;
        padding: 5px;
        margin: 1px;
        border: 1px solid #ccc;
        border-radius: 10px;
    }

.table tbody td {
    padding-bottom: 10px;
}

.btn {
    height: 35px;
    margin-left: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    border-radius: 4px;
    transition: color 0.5s ease;
}

    .btn:hover {
        color: black;
    }


.btns-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 60px;
    background-color: #dcdcdc;
}

.table-names {
    margin-left: 332px;
    justify-content: flex-start;
    height: 60px;
    background-color: #dcdcdc;
}
#tableListContainer {
    margin-left: 332px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.table-container {
    margin-left: 332px;
}

#tableList {
    height: 35px;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.list-tables {
    margin-left: 20px;
    margin-right: 10px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #4CAF50;
}

    .list-tables a {
        font-size: 18px;
        color: white;
        text-decoration: none;
        font-family: Arial, sans-serif;
        transition: color 0.5s ease;
    }

        .list-tables a:hover {
            color: black;
        }
