@model List<string>

@{
    Layout = "_Layout";
}


<body class=" no-nav-hover">

<ul id="tableList">
    @foreach (var tableName in Model)
    {
        <li class="list-tables">
            <a href="#" onclick="showTable('@tableName')">@tableName</a>
        </li>
    }
</ul>

<div id="tableContent">
    <!-- —юда будет загружено содержимое таблицы -->
</div>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/userItems.js"></script>
