@model List<string>

<h1>Tables starting with "Grafik":</h1>

<ul id="tableList">
    @foreach (var tableName in Model)
    {
        <li>
            <a href="#" onclick="showTable('@tableName')">@tableName</a>
        </li>
    }
</ul>

<div id="tableContent">
    <!-- —юда будет загружено содержимое таблицы -->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/userItems.js"></script>
