@model List<string>

@{
	Layout = "_Layout";
}

<head>
	<link rel="stylesheet" href="~/css/table_styles.css" asp-append-version="true" />
</head>

<body>
	<div id="tableContent">
		<!-- —юда будет загружено содержимое таблицы -->
	</div>

    <div class="table-names" id="tableListContainer">
        <input type="hidden" name="tableName" value="@ViewBag.TableName" />
        <ul id="tableList">
            @foreach (var tableName in Model)
            {
                <li class="list-tables">
                    <a href="#" onclick="showTable('@tableName')">@tableName</a>
                </li>
            }
        </ul>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/js/userItems.js"></script>